@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <img alt="Live a life well travelled." src="~/Images/IMG 3.jpg" class="img-fluid" style="width: 100%; height: auto;">
</main>
<body>
    <h1>ABOUT &commat;CapeMint</h1>
    <p>Established in 1995, &commat;CapeMint is a luxury hospitality brand that epitomizes sophistication, innovation, and authenticity. Spirited, inventive, empathetic, and refined, our brand is dedicated to curating experiences that elevate every moment and celebrate the essence of life.</p>
    <p>At &commat;CapeMint, we believe in the power of celebration. Whether it's a grand occasion or a simple joy, we strive to make each moment extraordinary. Our collection of properties is a reflection of their surroundings, embracing the culture, people, landscapes, and flavors of each destination.</p>
    <p>Since our inception, we have been committed to delivering unparalleled service and hospitality. Our passionate team is devoted to ensuring that every guest's experience surpasses expectations. From the moment you arrive until your departure, we provide personalized touches and attention to detail that create lasting memories.</p>
    <p>We invite you to immerse yourself in the essence of &commat;CapeMint and discover the magic of our properties. Join us in celebrating life's moments, both big and small, and experience hospitality redefined.</p>
</body>